@charset "UTF-8";

.page {
    width: 100%;
    height: 100%;
}

.page-fixed {
    position: absolute;
    top: .9rem;
    left: 0px;
    right: 0px;
    bottom: 1.0768rem;
    overflow: auto;
    height: auto;
}

.page-fixed-top {
    position: absolute;
    top: .9rem;
    left: 0px;
    right: 0px;
    bottom: 0;
    overflow: auto;
    height: auto;
}

.page-padding {
    padding-left: .3rem;
    padding-right: .3rem;
}

.page-top {
    padding-top: .7rem;
}

.m-navbar {
    background: -webkit-linear-gradient(left, #fd9526, #fc6220);
    background: -o-linear-gradient(right, #fd9526, #fc6220);
    background: -moz-linear-gradient(right, #fd9526, #fc6220);
    background: linear-gradient(to right, #fd9526, #fc6220);
    background-color: #ef5e0f;
}

.navbar-center .navbar-title {
    color: #ffffff;
    font-size: .36rem;
}

.page-bgwhite {
    background: #fff;
}

.navbar-item,
.navbar-item .back-ico:before,
.navbar-item .next-ico:before {
    color: #ffffff;
    font-size: .4rem;
}

.navbar-item-text {
    font-size: .28rem;
}

.m-navbar-persnage {
    background: #f2f2f2;
}

.m-navbar-persnage.m-navbar:after {
    border: 0;
}

.m-navbar-persnage .navbar-item,
.m-navbar-persnage .navbar-item .back-ico:before,
.m-navbar-persnage .navbar-item .next-ico:before,
.m-navbar-persnage .navbar-center .navbar-title {
    color: #333333;
}


.tabbar-item.tabbar-active {
    color: #ef5e0f;
}

.m-swiper {
    margin-left: -.3rem;
    margin-right: -.3rem;
}

.m-swiper .swiper-slide img {
    display: block;
    width: 100%;
}

.m-swiper .swiper-pagination {
    text-align: right;
    padding-right: .3rem;
}

.m-swiper .swiper-pagination-bullet {
    width: .12rem;
    height: .12rem;
    opacity: 1;
    border-radius: 0.12rem;
    background: #ffffff;
}

.m-swiper .swiper-pagination-bullet-active {
    width: .3rem;
    background: #fff;
}

.login {
    padding: 3.6rem .65rem 0;
}

.login .m-cell {
    background: transparent;
}

.login .m-cell:after {
    content: none;
}

.login .m-cell-form .cell-item {
    margin-bottom: .6rem;
    border: 2px solid #9f9f9f;
    border-radius: .5rem;
}

.login .m-cell-blue .cell-item .cell-right {
    min-height: auto;
}

.btn-primary {
    border-radius: .5rem;
    -webkit-box-shadow: .02rem .02rem .18rem #f68c11;
    -moz-box-shadow: .02rem .02rem .18rem #f68c11;
    box-shadow: .02rem .02rem .18rem #f68c11;
    background: -webkit-linear-gradient(left, #fd9526, #fc6220);
    background: -o-linear-gradient(right, #fd9526, #fc6220);
    background: -moz-linear-gradient(right, #fd9526, #fc6220);
    background: linear-gradient(to right, #fd9526, #fc6220);
    background-color: #ef5e0f;
}

.btn-primary:active {
    background-color: #f68c11;
}

.page-login {
    background: url(../../common/images/login-bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.m-list.m-list-home {
    margin-top: .3rem;
    padding-bottom: .3rem;
}

.m-screen {
    display: flex;
    border-bottom: 1px solid #B2B2B2;
    background-color: #fff;
    position: fixed;
    top: .9rem;
    left: 0;
    width: 100%;
    z-index: 100;
}

.screen-item {
    text-align: center;
    width: 33.33%;
    height: .7rem;
    line-height: .7rem;
    color: #979797;
    font-size: .24rem;
}

.screen-item.active {
    color: #f68c11;
}

.register {
    padding: 1.8rem .65rem 0;
}

.register .m-cell {
    background: transparent;
}

.register .m-cell:after {
    content: none;
}

.register .m-cell-form .cell-item {
    margin-bottom: .6rem;
    border: 2px solid #9f9f9f;
    border-radius: .5rem;
    box-sizing: border-box;
}

.register .img-print {
    height: .8rem;
    width: 2.1rem;
}

.register .btn {
    height: .8rem;
    line-height: .8rem;
    font-size: .24rem;
    padding: 0 .1rem;
    width: 2.1rem;
}

.register .cell-input-code {
    width: .5rem;
}

.register .btn-block {
    margin-top: 1rem;
}

.good-swiper .swiper-slide img {
    display: block;
    width: 100%;
}

.good-swiper .swiper-pagination-bullet {
    width: .12rem;
    height: .12rem;
    opacity: 1;
    border-radius: 0.12rem;
    background: #E8E8E8;
}

.good-swiper .swiper-pagination-bullet-active {
    background: #f68c11;
}

.good-wrapper {
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: .2rem;
}

.good-item {
    padding: .1rem 0;
}

.good-wrapper .good-price {
    font-size: .48rem;
    color: #EB5211;
}

.good-wrapper .good-price>em {
    font-size: .3rem;
}

.good-wrapper .good-title {
    color: #333;
    font-size: .4rem;
}

.good-wrapper .good-des {
    font-size: .24rem;
    line-height: 1.5em;
    color: #666;
}

.good-detail {
    margin-top: .3rem;
    margin-bottom: 1.32rem;
}

.good-detail img {
    display: block;
    width: 100%;
}

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 0 .16rem .16rem;
}

.footer-bar-buy {
    display: block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    font-size: .36rem;
    border-radius: .5rem;
    background: -webkit-linear-gradient(left, #ffcd2f, #ef5e0f);
    background: -o-linear-gradient(right, #ffcd2f, #ef5e0f);
    background: -moz-linear-gradient(right, #ffcd2f, #ef5e0f);
    background: linear-gradient(to right, #ffcd2f, #ef5e0f);
}

.list-more {
    display: block;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    margin-top: .2rem;
    color: #333;
    font-size: .28rem;
}


.pay-item-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: .3rem 0;
}

.pay-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: .28rem;
    color: #333333;
    padding: .3rem 0;
    border-bottom: 1px solid #E0E0E0;
}

.pay-fll-text {
    color: #646464;
    font-size: .26rem;
}

.pay-thumb {
    position: relative;
    width: 1rem;
    padding-top: 1rem;
    margin-right: .3rem;
}

.pay-thumb>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pay-wrapper {
    padding-bottom: .3rem;
}

.warp-info-name {
    color: #333333;
    font-size: .28rem;
    flex: 1;
}

.warp-info-price {
    color: #C71119;
    font-size: .34rem;
    line-height: .44rem;
    margin-left: .3rem;
}

.warp-info-price em {
    font-size: .28rem;
}

.pay-address {
    padding: 0 0 .08rem;
    background: url(../../common/images/group-line.png) 0 bottom no-repeat;
    background-size: 100% .08rem;
}

.pay-address .address-book {
    color: #333333;
    font-size: .3rem;
    line-height: .42rem;
    font-weight: 500;
    margin-bottom: .04rem;
}

.pay-address .address-desc {
    color: #666666;
    font-size: .26rem;
    line-height: .36rem;
}

.pay-address .address-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.14rem;
    color: #999999;
    font-size: .28rem;
}

.pay-address .address-item {
    padding: .5rem 1.6rem .5rem 0;
    position: relative;
    display: block;
}

.pay-address .pay-address-btn {
    display: block;
    color: #EB5211;
    font-size: .28rem;
    padding: .4rem 0;
}

.pay-address .pay-address-btn .iconyduiqianjin {
    margin-left: .1rem;
    font-size: .24rem;
}

.cell-right input[type=radio]:checked+.cell-checkbox-icon:after,
.cell-right input[type=checkbox]:not(.m-switch):checked+.cell-checkbox-icon:after {
    color: #EB5211;
}

.pay-tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .14rem .3rem;
    background: #fff;
}

.pay-tabbar-menter {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #EB5211;
    font-size: .36rem;
}

.pay-tabbar-menter em {
    font-size: .28rem;
    margin-right: .1rem;
}

.pay-tabbar-botton {
    display: block;
    width: 2.4rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    font-size: .32rem;
    border-radius: .4rem;
    background-color: #EB5211;
}

.menber-header {
    margin: 0 -0.3rem;
    position: relative;
    padding: .6rem .3rem 0;
}

.menber-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82%;
    background: -webkit-linear-gradient(left, #fd9526, #fc6220);
    background: -o-linear-gradient(right, #fd9526, #fc6220);
    background: -moz-linear-gradient(right, #fd9526, #fc6220);
    background: linear-gradient(to right, #fd9526, #fc6220);
}

.app-user {
    background: #fff;
    border-radius: .1rem;
    position: relative;
    z-index: 99;
    border-bottom: .1rem solid #ef5e0f;
}


.user-header {
    padding: 0 .3rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    transform: translateY(-.2rem);
    -ms-transform: translateY(-.2rem);
    -moz-transform: translateY(-.2rem);
    -webkit-transform: translateY(-.2rem);
    -o-transform: translateY(-.2rem);
}

.user-header-img {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .16rem;
    overflow: hidden;
    border-radius: 100%;
}

.user-header-img>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.user-header-name {
    font-size: .3rem;
    color: #EB5211;
    margin-top: .1rem;
}

.app-shell {
    background: #fff;
}

.shell-order {
    padding: .4rem .8rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.shell-order .iconfont {
    font-size: .44rem;
    text-align: center;
    color: #EB5211;
}

.aui-layout-text {
    color: rgba(0, 0, 0, .87);
    font-size: .24rem;
    margin-top: .1rem;
}

.divHeight {
    width: 100%;
    height: .2rem;
    background: #f5f5f5;
}

.app-shell .cell-item.app-shell-line:after {
    content: '';
    z-index: 0;
    left: 0;
    height: 1px;
    width: 100%;
    bottom: 0;
    margin-left: .24rem;
    position: absolute;
    border-bottom: 1px solid #D9D9D9;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.app-point {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .3rem 1.4rem .3rem;
}

.app-point .app-point-item {
    width: 50%;
    text-align: center;
}

.app-point .app-point-title {
    font-size: .24rem;
    color: #555;
}

.app-point .app-point-des {
    font-weight: bold;
    font-size: .3rem;
    margin-top: .15rem;
}

.app-point .app-point-des em {
    font-size: .24rem;
}

.app-point-line {
    position: relative;
}

.app-point-line::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #e3e3e3;
    position: absolute;
    top: 10%;
    right: 0;
}

.lists .list-img {
    position: relative;
}

.lists .list-img img {
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.add-address .cell-left {
    min-width: 1.4rem;
}

.add-address-item {
    padding: 0.2rem .3rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.add-address-btn {
    display: block;
    width: 100%;
    height: .9rem;
    color: #fff;
    font-size: .36rem;
    border-radius: .5rem;
    border: 0;
    background: #ef5e0f;
}

.address-list {
    padding: .3rem;
}

.app-address-item {
    background: #fff;
    font-size: .28rem;
    padding: 0 .3rem;
    margin-bottom: .2rem;
}

.address-item-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 0;
}

.address-item-line {
    border-bottom: 1px solid #f6f6f6;
}

.address-gnee-name {
    color: #ef5e0f;
    font-size: .28rem;
}

.address-gnee-tel {
    font-size: .28rem;
    color: #555;
}

.address-item-checkbox.cell-item:not(:last-child):after {
    display: none;
}

.address-item-checkbox .cell-right {
    min-height: auto;
}

.address-item-checkbox .cell-checkbox-icon {
    height: .32rem;
}

.address-item-checkbox .cell-left {
    font-size: .28rem;
    margin-right: .1rem;
}

.address-item-checkbox .cell-right input[type=radio]+.cell-checkbox-icon:after,
.address-item-checkbox .cell-right input[type=radio]+.cell-radio-icon:after,
.address-item-checkbox .cell-right input[type=checkbox]:not(.m-switch)+.cell-checkbox-icon:after,
.address-item-checkbox .cell-right input[type=checkbox]:not(.m-switch)+.cell-radio-icon:after {
    font-size: .32rem;
}

.address-gnee-ress {
    color: #3c3c3c;
    font-size: .25rem;
    width: 4rem;
    line-height: 1.5em;
}

.address-gnee-rome {
    color: #999;
    font-size: .24rem;
}

.address-gnee-delete {
    font-size: .34rem;
    color: #999;
}

.confirm-ft>a.confirm-btn.primary {
    color: #ef5e0f;
}

.person-nav {
    margin: 0 -0.3rem;
}

.person-panel-item {
    background: #ffffff;
    padding: .28rem .2rem .4rem;
    margin-top: .2rem;
}

.tab-nav-item.tab-active {
    color: #ef5e0f;
}

.person-panel-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.person-panel-time {
    flex: 1;
    color: #666666;
    font-size: .24rem;
    line-height: .34rem;
}

.person-panel-effect {
    color: #ef5e0f;
    font-size: .24rem;
    line-height: .34rem;
}

.person-panel-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: .2rem;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.person-panel-thumb {
    position: relative;
    width: 1rem;
    padding-top: 1rem;
}

.person-panel-thumb>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.person-panel-info {
    margin-left: .25rem;
    flex: 1;
}

.person-panel-info-name {
    color: #333333;
    font-size: .28rem;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.person-panel-info-price {
    color: #999999;
    font-size: .24rem;
    margin-top: .08rem;
}

.person-panel-info-price strong {
    color: #ef5e0f;
    font-size: .28rem;
}

.person-panel-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-top: .2rem;
}

.person-panel-btn {
    font-size: .25rem;
    width: 1.5rem;
    height: .54rem;
    line-height: .54rem;
    text-align: center;
    border-radius: .27rem;
    color: #fff;
    background: #ef5e0f;
    margin-left: .2rem;
}

.person-panel-gray {
    color: #ef5e0f;
    border: 1px solid #ef5e0f;
    background: transparent;
}

.person-panel {
    background: transparent;
}

.person-panel.tab-panel .tab-panel-item {
    padding: 0;
}

.integral-header {
    color: #ef5e0f;
    text-align: center;
    padding: .3rem 0 .4rem;
    background: #ffffff;
    border-radius: .06rem;
    margin-top: .3rem;
    -webkit-box-shadow: 0 0 2px #ebebeb;
    -moz-box-shadow: 0 0 2px #ebebeb;
    box-shadow: 0 0 2px #ebebeb;
}

.integral-header-title {
    font-size: .28rem;
}

.integral-header-bran {
    font-size: .6rem;
    font-weight: bold;
    margin-top: .2rem;
}

.divide-title {
    font-size: .32rem;
    font-weight: bold;
    color: #333;
    height: .9rem;
    line-height: .9rem;
    margin-top: .2rem;
    padding: 0 .3rem;
}

.divide-list {
    -webkit-box-shadow: 0 0 2px #ebebeb;
    -moz-box-shadow: 0 0 2px #ebebeb;
    box-shadow: 0 0 2px #ebebeb;
}

.divide-item {
    padding: .3rem .3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    background: #ffffff;
}

.divide-item:last-child {
    border-bottom: 0;
}

.divide-des {
    font-size: .3rem;
    color: #333;
}

.divide-time {
    font-size: .24rem;
    color: #b1b1b1;
    margin-top: .1rem;
}

.divide-bran {
    font-size: .3rem;
    font-weight: bold;
    color: #ef5e0f;
}

.wallet-money {
    padding: .4rem .3rem;
    background: -webkit-linear-gradient(left, #fd9526, #fc6220);
    background: -o-linear-gradient(right, #fd9526, #fc6220);
    background: -moz-linear-gradient(right, #fd9526, #fc6220);
    background: linear-gradient(to right, #fd9526, #fc6220);
}

.wallet-money-title {
    font-size: .28rem;
    color: rgba(255, 255, 255, .8);
}

.wallet-money-size {
    color: #fff;
    font-size: 1rem;
    margin-top: .3rem;
}

.wallet-money-list .cell-item {
    background: #ffffff;
}

.withdrawal {
    margin: .3rem 0;
    padding: .2rem .3rem;
    background: #fff;
}

.withdrawal-sum,
.withdrawal-balance {
    color: #666666;
    font-size: .28rem;
}

.withdrawal-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #f0f0f0;
    margin: .2rem 0;
}

.withdrawal-input em {
    color: #333333;
    font-size: .5rem;
}

.withdrawal-input input {
    color: #333333;
    font-size: .7rem;
    border: none;
    outline: none;
    padding: .1rem 2px;
    width: 6rem;
}

.withdrawal-button {
    margin-top: .3rem;
    padding: 0 .3rem;
}

.withdrawal-button button {
    border: none;
    outline: none;
    display: block;
    color: #ffffff;
    font-size: .32rem;
    width: 100%;
    height: .9rem;
    border-radius: .6rem;
    background: -webkit-linear-gradient(left, #fd9526, #fc6220);
    background: -o-linear-gradient(right, #fd9526, #fc6220);
    background: -moz-linear-gradient(right, #fd9526, #fc6220);
    background: linear-gradient(to right, #fd9526, #fc6220);
}

.withdrawal-record-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    padding: .3rem .3rem;
}

.withdrawal-record-name {
    font-size: .28rem;
    color: #333;
    margin-bottom: .15rem;
}

.withdrawal-record-balance {
    font-size: .24rem;
    color: #333;
}

.withdrawal-record-time {
    font-size: .24rem;
    color: #999;
    margin-bottom: .15rem;
}

.withdrawal-record-money {
    font-size: .28rem;
    color: #333;
}

.information .cell-item {
    background: #fff;
}

.information .cell-icon {
    padding: .2rem 0;
}

.information .cell-icon img {
    height: 1rem;
    border-radius: 100%;
}

.information-file {
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.amendname .cell-item {
    background: #fff;
}

.amendname .cell-left {
    margin-right: .1rem;
}

.amendname-button {
    margin-top: .3rem;
    padding: 0 .8rem;
}

.amendname-button button {
    border: none;
    outline: none;
    display: block;
    color: #ffffff;
    font-size: .3rem;
    width: 100%;
    height: .7rem;
    border-radius: .06rem;
    background: -webkit-linear-gradient(left, #fd9526, #fc6220);
    background: -o-linear-gradient(right, #fd9526, #fc6220);
    background: -moz-linear-gradient(right, #fd9526, #fc6220);
    background: linear-gradient(to right, #fd9526, #fc6220);
}

.invitation {
    padding-top: 0.6rem;
}

.invitation p {
    font-size: .34rem;
    text-align: center;
}

.invitation img {
    width: 4rem;
    margin: 1rem auto 0;
}